@import url('https://fonts.googleapis.com/css2?family=Fustat&display=swap');
body {
    background-color: #e6f0ff; /* light blue background */
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}
/* Header */
header{
    width: 100%;
    height: 75px;
    background-color: #001f3f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.6); 
}
.logo {
    height: 75px;
    width: 75px;
}
.registerform{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #66b2ff;
    width: 80%;
    border-radius: 30px;
}
h2{
    color: rgba(22, 28, 65, 0.822);
}
input{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 7px;
    background-color: #001f3fcc;
}
button{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 50px;
    width: 270px;
    color: white;
    border: none;
    border-radius: 7px;
    background-color: #001f3fcc;
}
p{
    color: white;
}
a{
    color: rgba(22, 28, 65, 0.822);
    text-decoration: none;
}
input::placeholder{
    color: #ffffff  ;
}
footer {
  position: fixed;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  background-color: #001f3fcc;
  color: white;
  text-align: center;
  height: 25px;
  padding: 7px;
}
